<nav class="navbar navbar-expand-lg bg-body-tertiary px-3 py-3 border">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <h1 class="navbar-brand text-secondary fw-bold fs-1 mx-5">Pousadas <br> <span class="text-danger">Rails</span></h1>
    <% end %>
    <button class="navbar-toggler" 
                  type="button" 
                  data-bs-toggle="collapse" 
                  data-bs-target="#navbarNavDropdown" 
                  aria-controls="navbarNavDropdown" 
                  aria-expanded="false" 
                  aria-label="Toggle navigation">                 
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="container-fluid">
        <%= form_with(url: search_inns_path, method: :get, html: {class: "d-flex gap-2"}) do |f|%>
            <div class="search-container w-75 mx-auto">
              <%= f.label :query, 'Buscar Pousadas' %>
              <%= f.text_field :query, placeholder: 'Nome, cidade ou bairro', class: "search-input form-control me-2"%>
              <%= f.button type: "submit", id:"search-button" do %>
                <i class="fa-solid fa-magnifying-glass fa-xl search-icon"></i>
              <%end%>
              <%= link_to 'busca avançada', advanced_search_form_inns_path %>
            </div>
        <% end %>
      </div>
      <ul class="navbar-nav d-flex align-items-center mx-5">
      <% if user_signed_in? %>
        <div class="px-4 collapse navbar-collapse mx-5" id="navbarNavDropdown">
          <li class="nav-item dropdown text-center">
              <a class="nav-link dropdown-toggle mx-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <% if current_user.admin? %>
                  <h4><i class="fa-solid fa-user-tie fa-xl" style="color: #f84d4f;"></i></h4>
                <% else %>
                  <h4><i class="fa-solid fa-user fa-xl" style="color: #f84d4f;"></i></h4>
                <% end %>
              </a>
            <ul class="dropdown-menu text-center">
              <li class="dropdown-item"><%= current_user.email %></li>
                <% if current_user.admin? %>
                  <% if current_user.inn %>
                    <li class="nav-item d-flex flex-column gap-2 mb-2">
                        <%= link_to inn_path(current_user.inn), class: "dropdown-item d-flex" do %>
                          <span class="mx-2">Minha pousada</span>   
                          <i class="fa-solid fa-pen-to-square pl-3 mt-1"></i>
                        <%end%>
                      <% if Reservation.where(room: current_user.rooms).any? %>
                        <%= link_to 'Reservas', reservations_path %>
                      <% end %>
                      <% if Reservation.where(room: current_user.rooms).active.any? %>
                        <%= link_to 'Reservas Ativas', active_reservations_path %>
                      <% end %>
                      <% if current_user.inn.reviews.any? %>
                        <%= link_to 'Avaliações da Pousada', reviews_path %>
                      <% end %>
                    </li>
                  <% else %>
                    <li class="nav-item"><%= link_to 'Cadastrar pousada', new_inn_path, class: "dropdown-item" %></li>
                  <% end %> 
                <% end %>
              <% if current_user.reservations.any? && current_user.admin == false %>
                <div class="d-flex flex-column">
                  <%= link_to 'Minhas Reservas', reservations_path %>
                  <% if current_user.reviews.any? %>
                    <%= link_to 'Minhas Avaliações', reviews_path %>
                  <% end %>
                </div>
              <% end %>
              <li class="nav-item w-50 rounded mx-auto mt-2"><%= button_to 'Sair', destroy_user_session_path, method: :delete, class: "p-0 dropdown-item text-white logout-button py-1" %></li>
            </ul>
          </li>
        </div> 

      <% else %>

        <div class="d-flex gap-3">
          <li class="nav-item">
            <%= link_to 'Entrar', new_user_session_path, class: "text-dark text-decoration-none authentication btn btn-outline-primary"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Criar Conta', new_user_registration_path, class: "text-white text-decoration-none btn btn-primary authentication" %>
          </li>
        </div>

      <% end %>
      </ul>
    </div> 
  </div>
</nav>