<h1><%= Inn.model_name.human(count: @inns.count) %></h1>
<% if @inns.empty? %>
  <h2> Ainda não existem pousadas cadastradas. </h2>
<%else%>
  <% @inns.each do |inn| %>
  <ul>
    <li>
      <%= link_to inn.brand_name, inn_path(inn) %>
    </li>
    <li><%= Inn.human_attribute_name(:address) %>: <%= inn.address %>. <%= inn.district %>, <%= inn.city %> - <%= inn.state %>. </li>
  </ul>
  <%end%>
<%end%>