<% if @recent_inns.empty? %>
  <h2> Ainda não existem pousadas cadastradas. </h2>
<%else%>
  <section>
    <h2 class="text-center">Cidades com Pousadas</h2>
      <div class="d-flex justify-content-center gap-3">
        <%get_cities(@inns).each do |city| %>
          <%= link_to search_by_city_inns_path(city) do %>
            <h4 class="btn btn-outline-success"><%=city%></h4>
          <%end%>
        <% end %>
      </div>
  </section>

  <section class="mt-5 mb-5">
    <h1 class="text-center mb-3"><%= Inn.model_name.human(count: @recent_inns.count) %> Mais <%= t(:recent, count: @recent_inns.count) %>:</h1>
    <div class="d-flex justify-content-center gap-3 flex-wrap">
      <% @recent_inns.each do |recent_inn|%>
        <%= link_to inn_path(recent_inn) do %> 
          <div class="inn-card">
            <%= render 'shared/inn_card', inn: recent_inn %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>

  <section>
    <h1 class="text-center mb-3"><%= Inn.model_name.human(count: @inns.count) %></h1>
    <div class="d-flex justify-content-center gap-3 flex-wrap">
    <% @inns.each do |inn| %>
      <%= link_to inn_path(inn) do %> 
        <div class="inn-card">
          <%= render 'shared/inn_card', inn:inn %>
        </div>
      <% end %>
    <%end%>
    </div>
  </section>
<%end%>

