<h1>Pousadas</h1>
<% if @inns.empty? %>
  <h2> Ainda não existem pousadas cadastradas. </h2>
<%else%>
  <% @inns.each do |inn| %>
  <ul>
    <li>
      <%= link_to inn.brand_name, inn_path(inn.slug) %>
    </li>
    <li>Endereço: <%= inn.address %>. <%= inn.district %>, <%= inn.city %> - <%= inn.state %>. </li>
    <li>Telefone para contato: <%= inn.phone %></li>
    <li>E-mail: <%= inn.email %></li>
  </ul>
  <%end%>
<%end%>