<h1><%= @inn.brand_name %></h1>

<h2>Detalhes da pousada</h2>
<%= link_to  t('activerecord.models.room', count: @inn.rooms.count), inn_rooms_path(@inn) %>
<% if current_user && current_user.inn %>
  <% if @inn == current_user.inn %>
    <div>
      <ul>
        <li>Razão social: <%= @inn.corporate_name %></li>
        <li>Nome fantasia: <%= @inn.brand_name %></li>
        <li>CNPJ: <%= @inn.registration_number %></li>
        <li>Telefone para contato: <%= @inn.phone %></li>
        <li>E-mail: <%= @inn.email %></li>
        <li>Endereço completo: <%= @inn.address %>. <%= @inn.district %>, <%= @inn.city %> - <%= @inn.state %>. </li>
        <li>CEP: <%= @inn.zip_code %></li>
        <li>Descrição: <%= @inn.description %></li>
        <li>Formas de pagamento:
        <% eval(@inn.payment_methods).each do |method| %>
          <p><%= method %></p>
        <%end%>
        </li>
        <li>
          <p><%= accepts_pets?(@inn.accepts_pets?) %></p>
        </li>
        <li>
          <p>Políticas de uso: <%= @inn.terms_of_service %></p>
        </li>
        <li>
          <p>Horário padrão de check-in e check-out: <%= @inn.check_in_check_out_time.strftime("%H:%M") %></p>
        </li>
        <li>
          <% if @inn.draft? %>
            <h4>ATENÇÃO: Ao publicar a pousada ela poderá ser visualizada por outros usuários.</h4>
            <%= button_to 'Publicar pousada', publish_inn_path(@inn.id), {method: 'patch'}%>
          <% else %>
            <%= button_to 'Esconder pousada', draft_inn_path(@inn.id), {method: 'patch'}%>
          <%end%>
        </li>
      </ul>
      <div>
        <%= link_to 'Editar', edit_inn_path(@inn)%>
      </div>
    </div>
  <%end%>
<%end%>
<% if current_user.nil? || current_user.inn != @inn %>
  <div>
    <ul>
      <li>Nome: <%= @inn.brand_name %></li>
      <li>Telefone para contato: <%= @inn.phone %></li>
      <li>E-mail: <%= @inn.email %></li>
      <li>Endereço completo: <%= @inn.address %>. <%= @inn.district %>, <%= @inn.city %> - <%= @inn.state %>.</li>
      <li>CEP: <%= @inn.zip_code %></li>
      <li>Descrição: <%= @inn.description %></li>
      <li>Formas de pagamento:
      <% eval(@inn.payment_methods).each do |method| %>
        <p><%= method %></p>
      <%end%>
      </li>
      <li>
        <p><%= accepts_pets?(@inn.accepts_pets?) %></p>
      </li>
      <li>
        <p>Políticas de uso: <%= @inn.terms_of_service %></p>
      </li>
      <li>
        <p>Horário padrão de check-in e check-out: <%= @inn.check_in_check_out_time.strftime("%H:%M") %></p>
      </li>
    </ul>
  </div>
<%end%>