<h1><%= @inn.brand_name %></h1>

<h2>Detalhes da pousada</h2>
<%= link_to 'Quartos', inn_rooms_path(@inn.slug) %>
<% if current_user && current_user.inn %>
  <% if @inn == current_user.inn %>
    <div>
      <ul>
        <li>Raz칚o social: <%= @inn.corporate_name %></li>
        <li>Nome fantasia: <%= @inn.brand_name %></li>
        <li>CNPJ: <%= @inn.registration_number %></li>
        <li>Telefone para contato: <%= @inn.phone %></li>
        <li>E-mail: <%= @inn.email %></li>
        <li>Endere칞o completo: <%= @inn.address %>. <%= @inn.district %>, <%= @inn.city %> - <%= @inn.state %>. </li>
        <li>CEP: <%= @inn.zip_code %></li>
        <li>Descri칞칚o: <%= @inn.description %></li>
        <li>Formas de pagamento:
        <% eval(@inn.payment_methods).each do |method| %>
          <p><%= method %></p>
        <%end%>
        </li>
        <li>
          <% if @inn.accepts_pets? %>
          <p>Permite pets: Sim</p>
          <% else %>
          <p>Permite pets: N칚o</p>
          <%end%> 
        </li>
        <li>
          <p>Pol칤ticas de uso: <%= @inn.terms_of_service %></p>
        </li>
        <li>
          <p>Hor치rio padr칚o de check-in e check-out: <%= @inn.check_in_check_out_time.strftime("%H:%M") %></p>
        </li>
        <li>
          <% if @inn.draft? %>
            <h4>ATEN칂츾O: Ao publicar a pousada ela poder치 ser visualizada por outros usu치rios.</h4>
            <%= button_to 'Publicar pousada', publish_inn_path(@inn.id), {method: 'patch'}%>
          <% else %>
            <%= button_to 'Esconder pousada', draft_inn_path(@inn.id), {method: 'patch'}%>
          <%end%>
        </li>
      </ul>
      <div>
        <%= link_to 'Cadastrar Quarto', new_inn_room_path(@inn) %> 
        <%= link_to 'Editar', edit_inn_path(@inn)%>
      </div>
    </div>
  <%end%>
<%end%>
<% if current_user.nil? || current_user.inn != @inn %>
  <div>
    <ul>
      <li>Nome: <%= @inn.brand_name %></li>
      <li>Telefone para contato: <%= @inn.phone %></li>
      <li>E-mail: <%= @inn.email %></li>
      <li>Endere칞o completo: <%= @inn.address %>. <%= @inn.district %>, <%= @inn.city %> - <%= @inn.state %>.</li>
      <li>CEP: <%= @inn.zip_code %></li>
      <li>Descri칞칚o: <%= @inn.description %></li>
      <li>Formas de pagamento:
      <% eval(@inn.payment_methods).each do |method| %>
        <p><%= method %></p>
      <%end%>
      </li>
      <li>
        <% if @inn.accepts_pets? %>
        <p>Essa pousada permite pets! 游냤</p>
        <% else %>
        <p>Essa pousada n칚o permite pets. 游땪</p>
        <%end%> 
      </li>
      <li>
        <p>Pol칤ticas de uso: <%= @inn.terms_of_service %></p>
      </li>
      <li>
        <p>Hor치rio padr칚o de check-in e check-out: <%= @inn.check_in_check_out_time.strftime("%H:%M") %></p>
      </li>
    </ul>
  </div>
<%end%>