<h1><%= @inn.brand_name %></h1>
<h2 class="mb-5 mt-5">Detalhes da pousada</h2>

<% if current_user && current_user.inn && @inn == current_user.inn %>

  <article>
    <section>
      
      <ul class="inn-details d-flex flex-wrap gap-5 mx-auto border rounded flex-column p-0 mb-5 w-100">
        <%= render 'inn_details', inn: @inn %>
      </ul>

      <aside class="admin-control text-center">
        <h3>Painel de Controle </h3> <span class="fw-bold">*Essas informações não aparecem para os outros usuários</span>
        <p class="mt-3"><%= Inn.human_attribute_name(:corporate_name) %>: <%= @inn.corporate_name %></p>
        <p><%= Inn.human_attribute_name(:brand_name) %>: <%= @inn.brand_name %></p>
        <p><%= Inn.human_attribute_name(:registration_number) %>: <%= @inn.registration_number %></p>
        <div>
          <% if @inn.draft? %>
            <p class="fw-bold">**ATENÇÃO: Ao publicar a pousada ela poderá ser visualizada por outros usuários.</p>
            <%= button_to 'Publicar pousada', publish_inn_path(@inn.id), {method: 'patch', class:"btn btn-primary text-white mb-2"}%>
          <% else %>
            <%= button_to 'Esconder pousada', draft_inn_path(@inn.id), {method: 'patch', class:"btn btn-dark text-white mb-2"}%>
          <% end %>
          <%= link_to 'Editar Pousada', edit_inn_path(@inn), class:"btn btn-primary text-white"%>
          <%= link_to 'Cadastrar Quarto', new_inn_room_path(@inn), class:"btn btn-primary text-white" %> 
        </div>
      </aside>
    </section>

    <% if @inn.rooms.empty? %>
      <h2>Você ainda não cadastrou um quarto. <%= link_to 'Clique aqui para cadastrar um.', new_inn_room_path(@inn)%></h2>
    <% else %>
      <div>
        <% @inn.rooms.each do |room| %> 
          <%= render 'rooms/room_details', room: room, inn: @inn %>
        <%end%>
      </div>  
    <%end%>
  </article>
<%end%>

<% if current_user.nil? || current_user.inn != @inn %>
  <article>
    <section>
      <ul class="inn-details d-flex flex-wrap gap-5 mx-auto border rounded flex-column p-0 mb-5">
        <%= render 'inn_details', inn: @inn %>
      </ul>
    </section>

    <section class="mb-5">
    <% if @rooms.present? %>
      <h1><%= Room.model_name.human(count: @inn.rooms.count) %></h1>
      <% @rooms.each do |room| %> 
        <%= render 'rooms/room_details', room: room, inn: @inn %>
      <%end%>
    <% else %>
      <h2>Nenhum quarto dessa pousada está aceitando reservas no momento.</h2>
    <% end %>
    </section>
  </article>
<%end%>