<h2 class="text-center"><%= room.name %></h2> 
<div class="mx-2 mt-2 text-center">
  <p><i class="fa-solid fa-users"></i> Número máximo de hóspedes: <%= room.maximum_guests %></p>
</div>
<div class="mx-2 mt-3 text-center">
  <h5><i class="fa-solid fa-money-bill-wave"></i> Preço</h5>
  <p>Preço padrão da diária: R$ <%= room.price %></p>
  <% if room.price_per_periods.any? %>
    <% if current_price_per_period(room).any? %>
      <p>Preço Especial: R$ <%= current_price_per_period(room)[0].special_price %></p>
      <p>Ativo até: <%= I18n.localize(current_price_per_period(room)[0].ends_at) %></p>
    <% end %>
  <% end %>
</div>
<div class="mx-2 mt-2 text-center">
  <h5><i class="fa-solid fa-circle-info"></i> Especificações</h5>
  <p>Descrição: <%= room.description %></p>
  <p>Área: <%= room.area %> m²</p>
</div>
<h5 class="text-center mt-3 text-dark"> <i class="fa-solid fa-clipboard-question"></i> Informações Adicionais</h5>
<div class="d-flex flex-wrap gap-3 mx-2 align-items-center justify-content-center">
  <p><%= bathroom(room.has_bathroom) %><i class="fa-solid fa-toilet mx-2"></i></p>
  <p><%= balcony(room.has_balcony) %></p>
  <p><%= air_conditioner(room.has_air_conditioner) %><i class="fa-solid fa-wind mx-2"></i></p>
  <p><%= tv(room.has_tv) %><i class="fa-solid fa-tv mx-2"></i></p>
  <p><%= wardrobe(room.has_wardrobe) %></li>
  <p><%= coffer(room.has_coffer) %><i class="fa-solid fa-lock mx-2"></i></p>
  <p><%= accessibility(room.accessible) %><i class="fa-brands fa-accessible-icon mx-2"></i></p>
</div>