<h2>Informações de reserva para o quarto: <%= room.name %></h2>
<h4>Data de Entrada: <%= I18n.localize(session_params["check_in"].to_datetime) %></h4>
<h4>Data de Saída: <%= I18n.localize(session_params["check_out"].to_datetime) %></h4>
<h4>Horário de check-in e check-out: <%= room.inn.check_in_check_out_time.strftime("%H:%M") %></h4>
<h4>Formas de pagamento aceitas:</h4>
<ul>
  <% eval(room.inn.payment_methods).each do |method| %>
    <li class="mb-1">
      <% case method %>
        <% when 'Dinheiro' %>
        <i class="fa-solid fa-money-bill-wave" style="color: #18ec1f;"></i> 
        <% when 'Cartão de crédito', 'Cartão de débito' %>
        <i class="fa-regular fa-credit-card"></i>
        <% when 'PIX' %>
        <i class="fa-brands fa-pix" style="color: #44ab9a;"></i>
      <%end%>
      <%= method %>
    </li>
  <%end%>
</ul>
<h4>Valor total das diárias: R$<%= session_params["total_price"] %></h4>
