<% if @valid_reservations.any? %>
  <h1>Reservas: </h1>
  <% @valid_reservations.each do |reservation| %>
    <p><%= Reservation.model_name.human %>: <%= link_to reservation.code, reservation_path(reservation) %></p>
    <p>Status: <%= t(reservation.status) %></p>
  <% end %>
<% end %>
<% if @past_reservations.any?%>
  <h1>Histórico de Reservas</h1>
  <% @past_reservations.each do |reservation| %>
    <p><%= Reservation.model_name.human %>: <%= link_to reservation.code, reservation_path(reservation) %></p>
    <p>Status: <%= t(reservation.status) %></p>
  <% end %>
<% end %>
