<%= render 'reservation_room_details', room:@room %>
<% if @reservation.errors.any? %>
  <div class="rounded p-2 border border-1 fw-bold mt-3">
    <h4 class="text-center">Verifique os erros abaixo:</h4>
    <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
      <li class="text-danger"><%=msg%></li>
      <%end%>
    </ul>
  </div>
<% end %>
<% if @total_price %>
  <%= form_with model: [@room, @reservation], html: {class: "row g-3 mt-3 w-50"} do |f| %>
    <div class="col-md-4 d-none">
      <%= f.label :guests, class: "form-label" %>
      <%= f.number_field :guests, :value => @guests, class: "form-control" %>
    </div> 

    <div class="col-md-4 d-none">
      <%= f.label :check_in, class: "form-label" %>
      <%= f.date_field :check_in, :value => @check_in_date.to_date, class: "form-control" %>
    </div>
    
    <div class="col-md-4 d-none">
      <%= f.label :check_out, class: "form-label" %>
      <%= f.date_field :check_out, :value => @check_out_date.to_date, class: "form-control" %>
    </div>

     <div class="col-md-4 d-none">
      <%= f.label :total_price, class: "form-label" %>
      <%= f.number_field :total_price, :value => @total_price, class: "form-control" %>
    </div>
    
    <div>
      <%= render 'reservation_details', room:@room, reservation:@reservation %>
    </div>
    <% if @check_in_date.to_date.between?(Date.today, 7.days.from_now) %>
      <p>Você não poderá cancelar essa reserva, pois a data de check-in está muito próxima</p>
    <% else %>
      <p>Você poderá cancelar a reserva em até 7 dias úteis antes da data de check-in</p>
    <% end %>
    <div class="col-md-12 text-center">
      <%= f.submit 'Efetuar Reserva', class: 'btn btn-primary text-white' %>
    </div>

  <% end %>
<% else %>
  <%= form_with(url: room_check_path(@room), method: :post, html: {class: "row g-3 w-75 mt-3"}) do |f|%>
    <div class="col-md-4">
      <%= f.label :guests, 'Quantidade de Hóspedes', class: "form-label" %>
      <%= f.number_field :guests, class: "form-control" %>
    </div> 

    <div class="col-md-4">
      <%= f.label :check_in, 'Data de Entrada', class: "form-label" %>
      <%= f.date_field :check_in, class: "form-control" %>
    </div>
    
    <div class="col-md-4">
      <%= f.label :check_out, 'Data de Saída', class: "form-label" %>
      <%= f.date_field :check_out, class: "form-control" %>
    </div>

    <div>
      <%= f.submit 'Verificar Disponibilidade', class: 'btn btn-primary text-white' %>
    </div>
  <% end %>
<% end %>