<h1>Reserva <%= @reservation.code %></h1>
<p>Status da Reserva: <%= t(@reservation.status) %></p>
<% if @reservation.finished?%>
  <h4>Forma de Pagamento Escolhida: <%= @reservation.payment_method %></h4>
  <h4>Data de Entrada: <%= I18n.localize(@reservation.check_in) %></h4>
  <h4>Data de Saída: <%= I18n.localize(@reservation.check_out) %></h4>
  <h4>Valor Total da Reserva: R$ <%= @reservation.total_price %></h4>
<% end %>
<% if @reservation.pending?  && current_user != @room.inn.user %>
  <%= render 'reservation_details', room: @room, reservation: @reservation %>
  <% if @reservation.check_in >= a_week_from_check_in_date(@reservation.check_in)%>
    <p>Você poderá cancelar sua reserva em até 7 dias antes da data de check-in</p>
    <%= button_to 'Cancelar Reserva', cancel_reservation_path(@reservation), {method: 'patch', class:"btn btn-danger text-white mb-2"} %>
  <% end %>
<% end %>

<% if current_user == @room_owner %>
  <% if @reservation.pending? %>
    <%= render 'reservation_details', room: @room, reservation: @reservation %>
    <%= button_to 'Realizar Check-in', check_in_reservation_path(@reservation), {method: 'patch', class:"btn btn-success text-white mb-2"} %>
    <%= button_to 'Cancelar Reserva', cancel_reservation_path(@reservation), {method: 'patch', class:"btn btn-danger text-white mb-2"} %>
  <% end %>

  <% if @reservation.active? %>
    <%= link_to 'Realizar Check-Out', check_out_form_reservation_path(@reservation) %>
  <% end %>
<% end %>

