<h1>Reserva <%= @reservation.code %></h1>
<div class="d-flex flex-column align-items-center gap-4 reservation-details">
  <h3 class="<%=color_by_status(@reservation.status)%> fw-bold" >Status da Reserva: <%= t(@reservation.status) %></h3>
  <h5>Hóspede: <%= @reservation.user.name %></h5>

<% if @reservation.finished? %>
  <div class="text-center reservation-details">
    <p>Quarto Reservado: <%= @reservation.room.name %></p>
    <p>Forma de Pagamento Escolhida: <%= @reservation.payment_method %></p>
    <p>Data de Entrada: <%= I18n.localize(@reservation.check_in, format: :no_timezone) %></p>
    <p>Data de Saída: <%= I18n.localize(@reservation.check_out, format: :no_timezone) %></p>
    <p>Valor Total da Reserva: R$ <%= @reservation.total_price %></p>
  </div>
  <% if @reviews.empty? && current_user == @reservation.user %>
    <h2>Existe algo que você gostaria de compartilhar conosco?</h2>
    <%= form_with model: [@reservation, Review.new] do |f| %>
      <div>
        <%= f.label :review_text %>
        <%= f.text_area :review_text %>
      </div>
      <div>
        <h2>Nota da Pousada</h2>
        <% 6.times do |grade| %>
          <p class="fw-bold"><%= f.label :review_grade, grade %></p>
          <%= f.radio_button :review_grade, grade, required: 'required'  %>
        <% end %>
      </div>
      <%= f.submit 'Enviar Avaliação' %>
    <% end %>
  <% end %>
  <% if @reviews.any? %>
    <h2>Minha Avaliação</h2>
    <p><%= @reviews.first.review_text %></p>
    <p>Nota</p>
    <% @reviews.first.review_grade.times do %>
      <i class="fa-solid fa-star"></i>
    <% end %>
  <% end%>
<% end %>

<% if @reservation.active? %>
  <div>
    <h5>Quarto Reservado: <%= @reservation.room.name %></h5>
    <p>Data de Entrada: <%= I18n.localize(@reservation.check_in, format: :no_timezone) %></p>
    <p>Data de Saída: <%= I18n.localize(@reservation.check_out, format: :no_timezone) %></p>
  </div>
<% end %>

<% if @reservation.canceled? %>
  <h5>Quarto Reservado: <%= @reservation.room.name %></h5>
  <p>Data do cancelamento: <%= I18n.localize(@reservation.updated_at.to_date) %></p>
<% end %>
<% if @reservation.pending?  && current_user != @room.inn.user %>
  <%= render 'reservation_details', room: @room, reservation: @reservation %>
  <% if @reservation.check_in >= a_week_from_check_in_date(@reservation.check_in)%>
    <p>Você poderá cancelar sua reserva em até 7 dias antes da data de check-in</p>
    <%= button_to 'Cancelar Reserva', cancel_reservation_path(@reservation), {method: 'patch', class:"btn btn-danger text-white mb-2"} %>
  <% end %>
<% end %>

<% if current_user == @room_owner %>
  <% if @reservation.pending? %>
    <%= render 'reservation_details', room: @room, reservation: @reservation %>
    <div class="d-flex gap-3">
      <%= button_to 'Realizar Check-in', check_in_reservation_path(@reservation), {method: 'patch', class:"btn btn-success text-white"} %>
      <%= button_to 'Cancelar Reserva', cancel_reservation_path(@reservation), {method: 'patch', class:"btn btn-danger text-white"} %>
    </div>
  <% end %>

  <% if @reservation.active? %>
    <%= link_to 'Realizar Check-Out', check_out_form_reservation_path(@reservation), class: "btn btn-danger"%>
  <% end %>
<% end %>
</div>
