<h1>Reserva <%= @reservation.code %></h1>
<div class="d-flex flex-column align-items-center gap-4 reservation-details">
  <h3 class="<%=color_by_status(@reservation.status)%> fw-bold" >Status da Reserva: <%= t(@reservation.status) %></h3>
  <h5>Hóspede: <%= @reservation.user.name %></h5>

<% if @reservation.finished? %>
  <div class="text-center reservation-details">
    <p>Quarto Reservado: <%= @reservation.room.name %></p>
    <p>Forma de Pagamento Escolhida: <%= @reservation.payment_method %></p>
    <p>Data de Entrada: <%= I18n.localize(@reservation.check_in.in_time_zone('America/Sao_Paulo'), format: :no_timezone) %></p>
    <p>Data de Saída: <%= I18n.localize(@reservation.check_out.in_time_zone('America/Sao_Paulo'), format: :no_timezone) %></p>
    <p>Valor Total da Reserva: R$ <%= @reservation.total_price %></p>
  </div>
<% end %>

<% if @reservation.active? %>
  <div>
    <h5>Quarto Reservado: <%= @reservation.room.name %></h5>
    <p>Data de Entrada: <%= I18n.localize(@reservation.check_in.in_time_zone('America/Sao_Paulo'), format: :no_timezone) %></p>
    <p>Data de Saída: <%= I18n.localize(@reservation.check_out, format: :no_timezone) %></p>
  </div>
<% end %>

<% if @reservation.canceled? %>
  <h5>Quarto Reservado: <%= @reservation.room.name %></h5>
  <p>Data do cancelamento: <%= I18n.localize(@reservation.updated_at.to_date) %></p>
<% end %>
<% if @reservation.pending?  && current_user != @room.inn.user %>
  <%= render 'reservation_details', room: @room, reservation: @reservation %>
  <% if @reservation.check_in >= a_week_from_check_in_date(@reservation.check_in)%>
    <p>Você poderá cancelar sua reserva em até 7 dias antes da data de check-in</p>
    <%= button_to 'Cancelar Reserva', cancel_reservation_path(@reservation), {method: 'patch', class:"btn btn-danger text-white mb-2"} %>
  <% end %>
<% end %>

<% if current_user == @room_owner %>
  <% if @reservation.pending? %>
    <%= render 'reservation_details', room: @room, reservation: @reservation %>
    <%= button_to 'Realizar Check-in', check_in_reservation_path(@reservation), {method: 'patch', class:"btn btn-success text-white mb-2 mt-2"} %>
    <%= button_to 'Cancelar Reserva', cancel_reservation_path(@reservation), {method: 'patch', class:"btn btn-danger text-white mb-2"} %>
  <% end %>

  <% if @reservation.active? %>
    <%= link_to 'Realizar Check-Out', check_out_form_reservation_path(@reservation), class: "btn btn-danger"%>
  <% end %>
<% end %>
</div>
