<h1>Registrar Preço Por Período</h1>
<% if @price_per_period.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @price_per_period.errors.full_messages.each do |msg| %>
    <li><%=msg%></li>
    <%end%>
  </ul>
<% end %>
<%= form_for([@room, @price_per_period]) do |f| %>
  <div>
    <%= f.label :special_price %>
    <%= f.number_field :special_price %>
  </div>
  <div>
    <%= f.label :starts_at %>
    <%= f.date_field :starts_at %>
  </div>

  <div>
    <%= f.label :ends_at %>
    <%= f.date_field :ends_at %>
  </div>

  <%= f.submit 'Enviar' %>
<% end %>