<h1>Editar Quarto</h1>
<% if @room.errors.any? %>
<div class="rounded p-2 border border-1 fw-bold mt-3">
  <h4 class="text-center">Verifique os erros abaixo:</h4>
  <ul>
    <% @room.errors.full_messages.each do |msg| %>
    <li class="text-danger"><%=msg%></li>
    <%end%>
  </ul>
</div>
<% end %>
<%= form_with model:@room, html: {class: "row g-3 mt-3 w-50"} do |f| %>
  <div class="col-md-4">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  
  <div class="col-md-2">
    <%= f.label :area, class: "form-label" %>
    <%= f.number_field :area, class: "form-control", placeholder: "em m²" %>
  </div>
  
  <div class="col-md-4">
    <%= f.label :maximum_guests, class: "form-label" %>
    <%= f.number_field :maximum_guests, class: "form-control" %>
  </div>
  
  <div class="col-md-2">
    <%= f.label :price, class: "form-label" %>
    <%= f.number_field :price, class: "form-control" %>
  </div>

  <div class="col-md-12">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="d-flex flex-column">
    <div>
      <%= f.check_box :has_bathroom, class: "form-check-input mx-2" %>
      <%= f.label :has_bathroom, class: "form-check-label" %>
    </div>

    <div>
      <%= f.check_box :has_balcony, class: "form-check-input mx-2" %>
      <%= f.label :has_balcony, class: "form-check-label" %>
    </div>
    
    <div>
      <%= f.check_box :has_air_conditioner, class: "form-check-input mx-2" %>
      <%= f.label :has_air_conditioner, class: "form-check-label" %>
    </div>
    
    <div>
      <%= f.check_box :has_tv, class: "form-check-input mx-2" %>
      <%= f.label :has_tv, class: "form-check-label" %>
    </div>
    
    <div>
      <%= f.check_box :has_wardrobe, class: "form-check-input mx-2" %>
      <%= f.label :has_wardrobe, class: "form-check-label" %>
    </div>

    <div>
      <%= f.check_box :has_coffer, class: "form-check-input mx-2" %>
      <%= f.label :has_coffer, class: "form-check-label" %>
    </div>

    <div>
      <%= f.check_box :accessible, class: "form-check-input mx-2" %>
      <%= f.label :accessible, class: "form-check-label check-box-primary" %>
    </div>
  </div>  
  <div class="d-flex flex-column">
    <p>Foto do Quarto (opcional)</p>
    <%= f.file_field :picture, onchange: 'displayImagePreview(this)' %>
    <label class="text-center mt-5" for="picture"></label>
      <img id="image-preview" src="#" alt="Imagem do Quarto" class="d-none w-50 h-50 mx-auto mt-3">
    </div>
  <div>
    <%= f.submit class: "btn btn-primary w-100 text-white" %>
  </div>
<% end %>