<% if current_user %>
  <% if current_user.inn == @inn %>
    <%= render 'room_details', room:@room, inn:@inn %>
    <% if @room.draft? %>
      <h4>ATENÇÃO: Ao publicar o quarto ele poderá ser visualizado por outros usuários, e aceitará reservas.</h4>
      <%= button_to 'Publicar Quarto', publish_inn_room_path(@inn, @room), {method: 'patch'}%>
    <% else %>
      <%= button_to 'Esconder Quarto', draft_inn_room_path(@inn, @room), {method: 'patch'}%>
    <%end%>
    <%= link_to 'Definir Preços Por Período', new_inn_room_price_per_period_path(@inn, @room) %>
    <%= link_to 'Editar Quarto', edit_inn_room_path(@inn, @room) %>
  <% end %>
<% end %>

<% if current_user.nil? || current_user.inn != @inn %>
  <%= render 'room_details', room:@room %>
<% end %>

