<% prices = sort_by_date(@room.price_per_periods) %>
<% if current_user %>
  <% if current_user.inn == @inn %>
    <h1><%= @room.name %></h1>
    <h2>Detalhes do quarto:</h2>
    <li>Descrição: <%= @room.description %></li>
    <li>Área: <%= @room.area %> m²</li>
    <li>Número máximo de hóspedes: <%= @room.maximum_guests %></li>
    <li>Preço padrão da diária: R$ <%= @room.price %></li>
    <li><%= bathroom(@room.has_bathroom) %></li>
    <li><%= balcony(@room.has_balcony) %></li>
    <li><%= air_conditioner(@room.has_air_conditioner) %></li>
    <li><%= tv(@room.has_tv) %></li>
    <li><%= wardrobe(@room.has_wardrobe) %></li>
    <li><%= coffer(@room.has_coffer) %></li>
    <li><%= accessibility(@room.accessible) %></li>
    <%= link_to 'Definir Preços Por Período', new_inn_room_price_per_period_path(@inn, @room) %>
    <% if @room.price_per_periods.any? %>
      <aside>
        <table>
          <h2>Preços por Período</h2>
          <tr>
            <th>Preço Especial</th>
            <th>Data de Ínicio</th>
            <th>Data de Término</th>
          </tr>
          <% prices.each do |price| %>
            <tr>
              <td>
                R$ <%= price.special_price %>
              </td>  
              <td>
                <%= I18n.localize(price.starts_at) %>
              </td>  
              <td>
                <%= I18n.localize(price.ends_at) %>
              </td>  
              <td>
                <%= button_to('Remover', inn_room_price_per_period_path(current_user.inn, @room, price.id), method: :delete) %>
              </td>
            </tr>
          <% end %>
        </table>
      </aside>
    <% end %>
    <% if @room.draft? %>
      <h4>ATENÇÃO: Ao publicar o quarto ele poderá ser visualizado por outros usuários, e aceitará reservas.</h4>
      <%= button_to 'Publicar Quarto', publish_inn_room_path(@inn, @room), {method: 'patch'}%>
    <% else %>
      <%= button_to 'Esconder Quarto', draft_inn_room_path(@inn, @room), {method: 'patch'}%>
    <%end%>

    <%= link_to 'Editar Quarto', edit_inn_room_path(@inn, @room) %>
  <% end %>
<% end %>

<% if current_user.nil? || current_user.inn != @inn %>
  <h1><%= @room.name %></h1>
  <h2>Detalhes do quarto:</h2>
  <li>Descrição: <%= @room.description %></li>
  <li>Área: <%= @room.area %> m²</li>
  <li>Número máximo de hóspedes: <%= @room.maximum_guests %></li>
  <li>Preço padrão da diária: R$ <%= @room.price %></li>
  <li><%= bathroom(@room.has_bathroom) %></li>
  <li><%= balcony(@room.has_balcony) %></li>
  <li><%= air_conditioner(@room.has_air_conditioner) %></li>
  <li><%= tv(@room.has_tv) %></li>
  <li><%= wardrobe(@room.has_wardrobe) %></li>
  <li><%= coffer(@room.has_coffer) %></li>
  <li><%= accessibility(@room.accessible) %></li>
  <% if @room.price_per_periods.any? %>
    <aside>
      <table>
        <h2>Preços por Período</h2>
        <tr>
          <th>Preço Especial</th>
          <th>Data de Ínicio</th>
          <th>Data de Término</th>
        </tr>
        <% prices.each do |price| %>
        <tr>
          <td>
            R$ <%= price.special_price %>
          </td>  
          <td>
            <%= I18n.localize(price.starts_at) %>
          </td>  
          <td>
            <%= I18n.localize(price.ends_at) %>
          </td>  
        </tr>
        <% end %>
      </table>
    </aside>
  <% end %>
<% end %>

