<div>
  <% if current_user && current_user.rooms.include?(@room) %>
    <div class="px-0 w-50 d-flex flex-column flex-wrap border border-primary rounded-4 mx-auto mb-5">  
      <%= render 'room_details', room: @room, inn:@room.inn %>
    </div>      
    <aside class="admin-room-control text-center mt-5 px-5">
      <% if @room.draft? %>
        <h4>Painel de Controle</h4>
        <p class="fw-bold text-danger">ATENÇÃO: Ao publicar o quarto ele poderá ser visualizado por outros usuários, e aceitará reservas.</p>
        <%= button_to 'Publicar Quarto', publish_room_path(@room), {method: 'patch', class:"btn btn-info text-white mb-2"}%>
      <% else %>
        <%= button_to 'Esconder Quarto', draft_room_path(@room), {method: 'patch', class:"btn btn-dark text-white mb-2"} %>
      <%end%>
      <%= link_to 'Definir Preços Por Período', new_room_price_per_period_path(@room), class: "btn btn-info text-white mb-2"%>
      <%= link_to 'Editar Quarto', edit_room_path(@room), class: "btn btn-info text-white" %>
      <%= link_to 'Adicionar Foto do Quarto', new_room_gallery_picture_path(@room), class: "btn btn-info text-white mt-2" %>
    </aside>
  <% else %>
    <div class="w-50 d-flex flex-column flex-wrap border border-primary rounded-4 mx-auto mb-5 px-0">  
      <%= render 'room_details', room: @room, inn:@room.inn %>
    </div>      
  <% end %>
</div>