<!DOCTYPE html>
<html>
  <head>
    <title>PousadasRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Pousadas Rails</h1>
      <nav>
      <% if user_signed_in? %>
        <%= current_user.email %> |

        <% if current_user.admin? %>
          <%= link_to 'Cadastrar pousada' %>
        <%end%>
        <%= button_to 'Sair', destroy_user_session_path, method: :delete %> 
      <% else %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %> 
      </nav>
    </header>
    <div>
      <p><%= notice %></p>
    </div>
    <%= yield %>
  </body>
</html>
